/* Import Fonts */

@import url(https://fonts.googleapis.com/css?family=Coustard|Open+Sans);

html, body {
	display: flex;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'Open Sans', sans-serif;
	line-height: 21px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #777;
	position: absolute;
}

body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); */
}

/*
	<img class="gradient" src="img/backgrounds/gradient.png" alt="">
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Coustard', serif;
	color: #fff;
	font-weight: normal;
	letter-spacing: 1px;
}

h1 {
	font-size: 63px;
	line-height: 70px;
	padding: 0;
	margin: 0;
}

h5 {
	font-size: 1.2rem;
	line-height: 35px;
	padding: 0;
	margin: 0;
	color: #b7b7b7;
}

a {
	color: #b7b7b7;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

/* #maximage {
	display: none;
	position: fixed !important;
} */

.gradient {
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
	opacity: 0.9;
}

.show {
	display: block;
}

.hide {
	opacity: 0;
}

/* Set Page Elements */

.content {
	margin: 0 0 0 14vw;
	position: absolute;
	top: 40vh;
	z-index: 5;
	-webkit-font-smoothing: antialiased;
}

#logo {
	width: 285px;
	font-family: 'Coustard', serif;
	font-size: 3.7rem;
	z-index: 5;
	color: #fff;
	word-break: break-word;
	line-height: 65px;
}

.main-nav {
	z-index: 5;
	position: relative;
	bottom: 13px;
	display: flex;
	/*! width: 100%; */
	height: fit-content;
	align-items: flex-end;
	display: flex;
}

.main-nav ul li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #b7b7b7;
}

.main-nav ul {
	line-height: 21px;
	margin: 0 auto;
	display: inline-flex;
	flex-direction: row;
	width: max-content;
	padding: 0;
}

.main-nav ul li a.active {
	color: #ffa800;
}

#about, #services, #tarifs, #valeurs {
	color: #2aff00;
	top: 27vh;
	font-weight: bold;
	padding-right: 30px;
}

.social-nav {
	position: absolute;
	z-index: 5;
	top: 0px;
	left: 5vw;
}

.social-nav ul {
	margin: 0;
	padding: 0;
}

.social-nav ul li {
	list-style: none;
	display: block;
	float: left;
	background: #393939;
	padding: 100px 10px 5px 10px;
	margin: 1px;
	opacity: .5;
}

.social-nav ul li:hover {
	opacity: 1;
}

button.full-screen-btn:hover {
	opacity: 1;
	z-index: 5;
}

#footer {
	width: 90vw;
	display: flex;
	position: relative;
	padding: 0 5vw 15px 5vw;
	justify-content: space-between;
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

iframe {
	width: 60vw;
	height: 40vh;
	display: block;
}

@media (max-width: 380px) {
	.content {
		top: 30vh !important;
	}

	.main-nav ul {
		padding: 0;
	}

	#logo {
		position: fixed;
		font-size: 2.3rem;
		line-height: 45px;
		bottom: 143px;
	}

	.main-nav {
		align-items: flex-end;
	}
}

@media (max-width: 599px) {
	iframe {
		position: fixed;
		width: 68vw;
		height: 62vh;
		top: 20vh;
		right: 5vw;
	}
}

@media (min-width: 600px) {
	iframe {
		position: fixed;
		width: 68vw;
		height: 37vh;
		top: 53vh;
		right: 5vw;
	}
}

@media (min-width: 900px) {
	iframe {
		position: fixed;
		width: 68vw;
		height: 38vh;
		top: 51vh;
		right: 5vw;
	}
}

@media (min-width: 1200px) {
	iframe {
		position: fixed;
		width: 60vw;
		height: 62vh;
		top: 20vh;
		left: 35vw;
	}
}

@media (min-width: 1800px) {
	iframe {
		position: fixed;
		width: 58vw;
		height: 73vh;
		top: 12vh;
		right: 5vw;
	}
}

/* 12px @ 280px increasing to 32px @ 1920px */
@media (max-width: 280px) {
	:root {
		font-size: calc(0.75rem + ((1vw - 2.8px) * 1.2195)) !important;
		/* Where: * 1.2195 = 100 * font_Size_Difference / viewport_Width_Difference */
	}
}


/**********************************************/
/**********************************************/

#slides {
	position: absolute;
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing {
	opacity: 1;
	z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
	font-size: 40px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
	background-size: cover;
}

.slide:nth-of-type(1) {
	background-image: url('/img/backgrounds/blue_c4d_wallpaper_by_dan4archangel_d1jnex0-fullview.jpg');
}

.slide:nth-of-type(2) {
	background-image: url('/img/backgrounds/Code-Vortex-4.jpg');
}

.slide:nth-of-type(3) {
	background-image: url('/img/backgrounds/436130.jpg');
}

.controls {
	border: none;
	margin: 0px;
	padding: 0px;
}

.controls:hover,
.controls:focus {
	background: rgb(180, 180, 180, 0.4);
	color: #333;
}

.container {
	height: 100vh;
	position: relative;
}

.buttons {
	position: relative;
	left: 0px;
	bottom: -78px;
	z-index: 5;
	font-size: 0px;
	width: 115px;
	height: 39px;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	background-size: 38px 38px;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

#pause {
	width: 0px;
	height: 0px;
	margin: 0px;
	display: none;
}